body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

logo {
  margin-right: 5vw;
  margin-top: auto;
  display: flex;
  align-items: center;
}

logo span {
  font-size: 12vw;
  font-weight: bold;
  color: #262626;
}

logo svg {
  width: 25vw;
}

logo path {
  animation: glow 3s linear infinite;
}

footer {
  text-align: center;
  margin-top: auto;
  padding-bottom: 3rem;
}

/* blau, lila, rot, gelb, cyan, blau(x)) */
@keyframes glow {
  0% {
    fill: #5ab5ff;
  }
  25% {
    fill: #430392;
  }
  50% {
    fill: #a50000;
  }
  75% {
    fill: #efa305;
  }
  100% {
    fill: #2cdba6;
  }
}
